.buttonstyle{
    width: 108%;
    background-color: #7152F3;
    border: 0;
    border-radius: 10px;
    height: 56px;
    margin-top: 3%;
    color: #fff;
}

.checkstyle {
    width: 18px;
    height: 18px;
    margin-top: 3%;
}