.content_container{
    display: grid;
	grid-template-columns: 1fr 1fr;
    gap: 20px;

    padding: 20px;
    width: 60vw;
    height: auto;
    flex-shrink: 0;
    margin-left:20px;
    border-radius: 10px;
    border: 1px solid var(--gray-gray-20, rgba(162, 161, 168, 0.20));
}
