.content_container{
    display: grid;
	grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    width: 70vw;
    height: auto;
    flex-shrink: 0;
    margin-left:20px;
    border-radius: 10px;
    border: 1px solid var(--gray-gray-20, rgba(162, 161, 168, 0.20));
}
.Font {
    margin-top: 13px;
    color: dark;
    font-family: Lexend;
    font-size: 16px;
    font-weight: 550;
    line-height: 24px;
}

