.content_container{
    display: grid;
	grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    width: 70vw;
    height: auto;
    flex-shrink: 0;
    margin-left:20px;
    border-radius: 10px;
    border: 1px solid var(--gray-gray-20, rgba(162, 161, 168, 0.20));
}
.InputField{
    width:25vw;
    height:60px;
    display:flex;
    flex-direction: row;
}
.InputFont{
    font-size:14px;
    padding-left:10px;
    padding-bottom:10px;
    color:#A1A2A8;
}
.Font {
    margin-top: 5px;
    color: dark;
    font-family: Lexend;
    font-size: 16px;
    font-weight: 550;
    line-height: 24px;
}

