.container{
    background-color: rgba(162, 161, 168, 0.08);
    width: 280px;
    height: 100vh;
    float: left;
}
.logostyle{
    margin-top: 39px;
    margin-left: 30px;
    
}
.listconatiner{
    margin-top: 30px;
    margin-left: 30px;
}
.select{
    position: relative;

    background: rgba(113, 82, 243, 0.05);
    color: #7152F3;
    /* Body-1 Bold */
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */

    text-align: left;

    margin: 5px 0;

    width: 220px;
    height: 50px;
    border-radius: 0px 10px 10px 0px;
    flex-shrink: 0;
    border-left: 4px solid #7152F3;

}
.innerconaainer {
    padding-top: 4%;
}
.innertext{
    position: absolute;
    padding-top: 6px;
}
.nonselect{
    color: #16151C;
    /* Body-1 Bold */
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */
    
    margin: 5px 0;

    text-align: left;
    padding-left: 4px;
    width: 220px;
    height: 50px;
    border-radius: 0px 10px 10px 0px;
    flex-shrink: 0;

}

