.container {
    display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 10vw;
}
.tablecontainer {
    margin: 30px;
    display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 50vw;
}

.tablecontainer span {
    font-size: 14px;
    color: #A2A1A8;
}

.maincontainer {
    margin: 30px;
    display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 50vw;
    font-size: 14px;
    text-decoration: none;
    color: #000;
}

.linkbutton{
    width: 10px;
}