@media screen and (max-width: 720px) {
    body{
        background-color: red;
    }
}
body{
    margin: 0;
}

ul, li{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

