@media screen and (max-width: 720px) {
    body{
        background-color: red;
    }
}
body{
    margin: 0;
}

input[type='date']::before {
    content: attr(data-placeholder);
    width: 100%;
}



ul, li{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

input[type="button"]{
    background: inherit; 
    box-shadow:none; 
    cursor:pointer;
}


a {
    text-decoration: none;
    color: #000;
}